# Python venv
dev

# Script to submit a job
run-job.sh

# Nested build directory
/build*

/python/*/*.mlir
/python/*/*.ll
/python/*/*.o
/python/*/*.out
/python/*/core.*
/python/*/*.txt

*mlir.txt

# For OpenBLAS
include/
lib/*